#primer-parrafo {
    height: 200px;
    width: 50%;
    background-color: powderblue;
  }

  #segundo-parrafo {
    height: 200px;
    width: 50%;
    background-color: rgb(204, 38, 74);
  }